:not(.dark_mode) i {
    all : unset;
    color: dodgerblue !important;
}

:not(.dark_mode) i * {
    color: dodgerblue !important;
}

:not(.dark_mode) u {
    all : unset;
    color: darkorange !important;
}

:not(.dark_mode) u * {
    color: darkorange !important;
}

.dark_mode i {
    all : unset;
    color: darkturquoise !important;
}

.dark_mode i * {
    color: darkturquoise !important;
}

.dark_mode u {
    all : unset;
    color: yellow !important;
}

.dark_mode u * {
    color: yellow !important;
}

img {
	vertical-align: middle;
}

#killer-toc > img {
	vertical-align: -2px !important;
}

.yellow * {
    color: yellow !important;
}

#killer-home, #page-number {
	margin-right: 10px;
}

.killer-nav {
	border: none;
}

#killer-toc {
	padding-left: 7px;
	padding-right: 7px;
	width : 15px;
	vertical-align: 1px;
}

.killer-toc-list {
	all: unset;
	margin-bottom: 1em;
	cursor: pointer;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

#killer-prev, #killer-next {
	flex: 1;
	text-align: center;
}


.img-with-txt {
	display: flex;
	flex-wrap: wrap;
	row-gap: 1em;
}

.img-with-txt span {
	margin-top: auto;
	margin-bottom: auto;
}
