html {
	width: 100%;
	height: 100%;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
}

a {
	text-decoration: none;
}

.title {
	font-size: 1.2em;
}

.dark_mode {
	color: #eeffff;
	background: #263238;
}

.dark_mode * {
	color: #eeffff;
	background: #263238;
}

/* 기능 로테이션 */
/* 1. 숨기기 */
/* 2. 하이라이트 */
/* 3. 원래대로 돌리기 */
.hidden:not(.disclosed) {
	color: rgba(0,0,0,0) !important;
	border-bottom: 1px solid #ff5370;
}

.hidden.disclosed {
	color: #ff5370;
	font-weight: bold;
}

.hidden {
	cursor: pointer;
}

.highlight {
	color: #ff5370;
	font-weight: bold;
}

p:not(.title) {
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 15px;
}

.container {
	display: flex;
	flex-direction: column;
	padding: min(20px, 5%);
}

.floater {
	cursor: pointer;
	position: fixed;
	bottom: 3vw;
	right: 3vw;
	width: 50px;
	border-radius: 20px;
	background-color: #37474f;
	border: 2px solid #eeffff;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	display: block !important;
	z-index: 99999;
}
