html {
	width: 100%;
	height: 100%;
	background: #fafafa;
    font-size: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
    font-size: 100%;
}

button {
	all: unset;
	cursor: pointer;
}

/* Variables */
:root {
	--answer-margin : 6em;
}

.non_dragable {
	/* By default drag is disabled */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
}

a {
	text-decoration: none;
}

.title {
	font-size: 1.2em;
}

.dark_mode {
	color: #eeffff;
	background: #263238;
}

.dark_mode * {
	color: #eeffff;
	background: #263238;
}

/* 기능 로테이션 */
/* 1. 숨기기 */
/* 2. 하이라이트 */
/* 3. 원래대로 돌리기 */
.hidden:not(.disclosed) {
	color: rgba(0,0,0,0) !important;
	text-decoration: underline #ff5370;
}

.hidden.disclosed {
	color: #ff5370;
	font-weight: bold;
}

.hidden {
	cursor: pointer;
}

.noview {
	color: rgba(0,0,0,0) !important;
}

.highlight {
	color: #ff5370;
	font-weight: bold;
}

p:not(.title) {
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 15px;
}

.container {
	display: flex;
	flex-direction: column;
	padding: min(20px, 5%);
	/* width: 100%; */
	/* height: 100%; */
}

.killer-cont {
	display: flex;
	flex-direction: column;
	padding: min(20px, 5%);
	width: 90%;
	height: 95%;
	max-width: 95%;
	max-height: 95%;
	justify-content: space-between;
}

#footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-height: 5%;
}

#killer-toc img {
	max-height: 100%;
	max-width: 100%;
}

#killer-contents {
	padding-top: 10px;
	flex: 1;
    overflow: scroll;
    font-size: 1.2rem;
}

.killer-nav {
	padding: 5px;
	border: none;
}

#killer-toc {
	padding-left: 7px;
	padding-right: 7px;
	width : 15px;
	vertical-align: -2px;
}

.killer-toc-list {
	all: unset;
	margin-bottom: 1em;
	cursor: pointer;
	display: flex;
	flex-flow: row wrap;
}

#killer-prev, #killer-next {
	flex: 1;
	text-align: center;
}

.floater {
	cursor: pointer;
	position: fixed;
	bottom: 3vw;
	right: 3vw;
	width: 50px;
	border-radius: 20px;
	background-color: #37474f;
	border: 2px solid #eeffff;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	display: block !important;
	z-index: 99999;
}

select {
	margin-right: 10px;
	border : 2px solid #eeffff;
	border-radius : 4px;
}

hr {
	max-width: 350px;
	margin-left: 0;
}

button {
	border : 2px solid #eeffff;
	border-radius : 4px;
}

.sep_answer {
	margin-left : var(--answer-margin);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
	border : 2px solid #eeffff;
	border-radius : 4px;
	margin-right: 10px;
}

.eq-padding {
	margin-bottom: 15px;
}

@media print {
	body {
		visibility: hidden;
	}
	#blackboard {
		visibility: visible;
		position: absolute;
		left: 10%;
		top: 3%;
	}
	@page { margin: 0; }
	body { margin: 1.6cm; }
}

.circle-div {
	height: 40px;
	width: 40px;
	border-radius: 100%;
	position: fixed;
	bottom: 21px;
	right: 25px;
	text-align:center;
}

.circle-div > img {
	filter: invert(1);
	background: none !important;
	cursor: pointer;
}

/* ---------     */
/* Economics 300 */
/* ---------     */


/* More than tablets */
@media (min-width: 480px){
	.killer-cont {
		height: 93% !important;
	}
	.exp-demo {
		display:block;
		max-width: 40%;
		margin: auto;
		padding-bottom: 10px;
	}
	.problem-header {
		margin-bottom : 1em;
	}

	.option-space-mobile {
		display: none;
	}

	.option-space-tablet {
		display: block;
	}

	/* CSS */
	.eco-list-wrapper {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1em;
	}

	.eco-list-problem {
		margin-top: auto;
		margin-bottom: auto;
		width: 80%;
	}

}

/* mobile media query */
@media (min-width: 320px) and (max-width: 480px) {
	.exp-demo {
		display: block;
		max-width: 70%;
		margin: auto;
		padding-bottom: 10px;
	}

	.eco-options {
		text-align : center;
	}

	.eco-separator {
		margin-bottom: 5em;
	}

	.problem-header {
		margin-bottom: 2em;
	}
	.option-space-mobile {
		display: block;
		font-size: 1.5em;
	}

	.option-space-tablet {
		display: none;
	}

	/* CSS */
	.eco-list-wrapper {
		display: flex;
		flex-direction : column;
		margin-bottom: 1em;
	}

	.eco-list-problem {
		margin-top: auto;
		margin-bottom: auto;
		/* border-bottom: 1px solid #eeffff; */
		padding-bottom: 10px;
	}
}

.eco-list-answer {
	display: flex;
	flex-direction: row;
}

.eco-list-answer * {
	text-align: center;
	border-radius: 5px;
}

.eco-list-answer-first
{
	padding: 1em;
	margin-right: 1em;
	flex : 1;
	border:none;
}
.eco-list-answer-second {
	padding: 1em;
	flex : 1;
	border:none;
}

.correct_answer {
	background: skyblue;
}

.incorrect_answer {
	background: IndianRed;
}

sup {
	margin-right: 5px;
}

.supsub {
    display: inline-block;
}

.supsub sup,
.supsub sub {
    position: relative;
    display: block;
    font-size: .5em;
    line-height: 1.2;
}

.supsub sub {
    top: .3em;
}

.fraction {
    display: inline-block;
    text-align: center;
    margin-right: 0.5em;
    vertical-align: -10px;
}

/* multiple fraction multiplication */
.m-frac {
    margin-right: 0 !important;
}

.fraction > sup {
	border-bottom: solid 0.1em;
	padding-bottom: 0.5em;
	margin-right: 0 !important;
}

.fraction > sup,
.fraction > sub {
    position: relative;
    display: block;
    font-size: 0.8em;
    line-height: 1.2;
}

.fraction > sub {
    top: .3em;
}

.clickable > * {
	cursor: pointer;
}
.eco-list-wrapper-from-right {
	flex-direction:row-reverse;
}

.eco-list-answer-left {
	margin-right: auto;
}

.eco-list-answer-right {
	margin-left: auto;
}

#toggle_single_hand {
	display: none;
}

.visible {
	display: block !important;
}

.eco-explanation {
	border: none !important;
	margin-left: 5px;
	font-size: 0.8em;
}

/* Information related styles */

#popup-hint-window {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	/* Disabled for debugging */
	visibility: hidden;
	z-index: 1;
	width: 85%;
	max-height: 85%;
	left: 7.5%;
	top: 7.5%;
	border-radius: 5px;
	border: 2px solid white;
	padding-bottom: 10px;
}

#popup-container {
	overflow: scroll;
	padding: 10px;
	/* display: flex; */
	/* flex-direction:column; */
	flex: 1;
	justify-content: center;
}

#popup-close {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

.disabled-hint {
	color: gray;
	cursor: default;
}

.long-br {
	margin-bottom: 2em;
}

mark {
	display: contents;
	color: Red !important;
	font-weight: bold;
}

#killer-contents  ul, #killer-contents ol {
	padding-left: 5px;
}

#killer-contents li {
	margin-bottom: 10px;
}

#header {
    font-size: 2rem;
}
